<div class="container">
  <br>
  <%= link_to 'Ajouter un enfant', new_child_path, class: 'btn btn-orange p-1' %>
    <br>
  <% if @children.present? %>
  <% @children.each do |child| %>
  <div class="card-product">
    <%= link_to (cl_image_tag child.photo, height: 200, width: 200, crop: :fill), child_path(child) %>
    <div class="card-product-infos">
      <div class="d-flex">
        <%= link_to child.first_name, child_path(child)%>
        <div class="pl-2"><%= link_to child.last_name, child_path(child)%></div>
      </div>
      <p><%= child.birth_day %></p>
      <p><strong><%= child.security_number %></strong></p>
    </div>
    <div class="card-product-button-edit">
      <p>
        <%= link_to edit_child_path(child), class: 'btn p-1' do %>
        <i class="fas fa-edit"></i>
        <% end %>
      </p>
    </div>
    <div class="card-product-button-delete">
      <p>
        <%= link_to child_path(child), method: :delete, data: { confirm: "Sur to delete?" }, class: 'btn p-1 mb-4' do %>
        <i class="fas fa-trash"></i>
        <% end %>
      </p>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
