<div class="container_show">
  <%= render 'shared/flashes' %>
  <h2 class="d-flex justify-content-center"><%= @child.first_name %> <%= @child.last_name %></h2>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div>
        <div class=" d-flex justify-content-center mb-4">
          <%= link_to (cl_image_tag @child.photo, height: 200, width: 200, crop: :fill) %>
        </div>
        <p>Date de naissance : <%= @child.birth_day %></p>
        <p>Sexe : <%= @child.gender %></li></p>
        <p>Nationalité : <%= @child.nationality %></p>
        <p>Adresse : <%= @child.address %></p>
        <p>Ville : <%= @child.country %></p>
      <p>Numéro de sécurité sociale : <%= @child.security_number %></li>
    </div>
  </div>
  <div class="col-12 col-lg-8 ">
    <h3 class="d-flex justify-content-center">Créer le projet de vie</h3>
    <%= simple_form_for(@child) do |f| %>
    <%= f.input :life_project, as: :summernote %>
    <div class=" d-flex justify-content-center">
      <%= f.button :submit, "Enregistrer", class: "btn btn-orange" %>
      <button type="button" class="note-btn btn btn-light btn-sm" role="button" tabindex="-1" title="" aria-label="Enregistrer en PDF" data-original-title="Enregistrer en PDF"><i class="toto"></i></button>
    </div>
    <% end %>
  </div>
</div>
<br>
<div class=" d-flex justify-content-center">
  <%= link_to "Besoin d'aide pour créer le projet de vie, toutes les informations disponibles ici ", help_path, class: 'btn-orange btn-lg ' %>
</div>
<br>
<h3 class=" d-flex justify-content-center">MES FORMULAIRES MDPH</h3>
<h3 class="d-flex justify-content-center">Remplir mon dossier MDPH - le certificat médical</h3>
<div class="row ">
  <div class="col-12 col-lg-6 d-flex justify-content-center ">
    <a href="https://res.cloudinary.com/lilou1681/image/upload/v1575756596/Formulaire_MDPH_fujhtk.pdf" target="_blank">
      <%= cl_image_tag "Formulaire_MDPH_fujhtk", { size: '250x350', crop: :thumb, format: :jpeg, class: "img-responsive thumbnail" } %>
    </a>
  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-center  ">
    <a href="https://res.cloudinary.com/lilou1681/image/upload/v1575756952/certificat_m%C3%A9dical_qygd1m.pdf" target="_blank">
      <%= cl_image_tag "certificat_médical_qygd1m", { size: '250x350', crop: :thumb, format: :jpeg, class: "img-responsive thumbnail" } %>
    </a>
  </div>
</div>
<h3 class="d-flex justify-content-center">AJOUTER VOTRE DOSSIER</h3>

<%= render "docs/form" %>
<%= link_to "Accèder à ses documents", child_docs_path(@child), class: "btn btn-orange"  %>
<br>
<h3 class="d-flex justify-content-center">CALENDRIER DES MES RAPPELS</h3>
<div class="row align-items-center">
  <div class="col-12 col-lg-7">
    <div class="agenda">
      <%= month_calendar events: @reminders do |date, reminders| %>
      <%= date %>
      <% reminders.each do |reminder| %>
      <div>
        <strong class="reminder"><%= reminder.name %></strong>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <h3>Tous mes rappels</h3>
    <% @reminders.each do |reminder| %>
    <p><%= reminder.name %> à renouveller le : <%= reminder.date%> <%= link_to child_reminder_path(reminder), method: :delete, data: { confirm: "Sur to delete?" }, class: 'btn p-1 mb-4' do %>
        <i class="fas fa-trash"></i>
        <% end %>
      <% end %></p>
    <h3>Ajouter un rappel à mon agenda</h3>
    <%= render "reminders/form" %>
    <br> <br>
    <div class=" d-flex justify-content-center">
      <%= link_to "Retour au tableau de bord", children_path, class: 'btn-orange btn-lg '%>
    </div>
    <br>
  </div>
</div>
</div>
