<%= render 'shared/flashes' %>
<ul>
   <li><%= link_to (cl_image_tag @child.photo, height: 200, width: 200, crop: :fill) %></li>
   <li>First name : <%= @child.first_name %></li>
   <li>Last name : <%= @child.last_name %></li>
   <li>Birthday : <%= @child.birth_day %></li>
   <li>Gender : <%= @child.gender %></li>
   <li>Nationality : <%= @child.nationality %></li>
   <li>Address : <%= @child.address %></li>
   <li>Country : <%= @child.country %></li>
   <li>Security Number : <%= @child.security_number %></li>
   <li>Life Project : <%= @child.life_project %></li>
   <% @reminders.each do |reminder| %>
    <li>Reminder Name : <%= reminder.name %></li>
    <li>Reminder Date : <%= reminder.date %></li>
   <% end %>
</ul>

<%= simple_form_for(@child) do |f| %>
  <%= f.input :life_project, as: :summernote %>
  <%= f.button :submit, "Save", class: "btn" %>
<% end %>
</br>
<%= render "reminders/form" %>
</br>
<%= link_to "Back to list", children_path, class: 'btn btn-lg'%>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
