<div class="container">
  <%= render 'shared/flashes' %>
  <br>
  <div class="row">
    <div class="col-4">
      <div>
        <div class=" d-flex justify-content-center mb-4">
          <%= link_to (cl_image_tag @child.photo, height: 200, width: 200, crop: :fill) %>
        </div>
        <p>Prénom : <%= @child.first_name %></p>
        <p>Nom : <%= @child.last_name %></p>
        <p>Date de naissance : <%= @child.birth_day %></p>
        <p>Sexe : <%= @child.gender %></li></p>
        <p>Nationalité : <%= @child.nationality %></p>
        <p>Adresse : <%= @child.address %></p>
        <p>Ville : <%= @child.country %></p>
      <p>Numéro de sécurité sociale : <%= @child.security_number %></li>
      <!-- <li>Life Project : <%= @child.life_project %></li> -->
      <% @reminders.each do |reminder| %>
      <li>Reminder Name : <%= reminder.name %></li>
      <li>Reminder Date : <%= reminder.date %></li>
      <% end %>
    </div>
  </div>
  <div class="col-8">
    <div class="project">
      <h3>Projet de vie</h3>
      <%= simple_form_for(@child) do |f| %>
      <%= f.input :life_project, as: :summernote %>
      <div class=" d-flex justify-content-center">
        <%= f.button :submit, "Enregistrer", class: "btn btn-orange" %>
      </div>
      <% end %>
      </br>
    </div>
  </div>
</div>
<h3>Remplir mon dossier MDPH</h3>
<div class="pdf d-flex justify-content-center">
  <a href="https://res.cloudinary.com/lilou1681/image/upload/v1575590654/Formulaire_MDPH_auci9k.pdf" target="_blank">
  <%= cl_image_tag "Formulaire_MDPH_auci9k", { size: '500x700', crop: :thumb, format: :jpeg, class: "img-responsive thumbnail" } %>
  </a>

</div>
<div class="agenda">
  <h3>Ajouter un rappel à votre agenda</h3>
  <%= render "reminders/form" %>
</div>
</br>
</br>
<div class=" d-flex justify-content-center">
  <%= link_to "Retour au tableau de bord", children_path, class: 'btn-orange btn-lg '%>
</div>
</div>
<!-- <div class="dropdown show">
<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Lien dropdown
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
</div> -->
