<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">

        <div class="form-signup">
          <div class="row justify-content-center">

            <h2>MODIFIER VOTRE PROFIL</h2>
          </div>





<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label:false, required: true, autofocus: true, placeholder: "Prénom" %>
    <%= f.input :last_name, label:false, required: true, autofocus: true, placeholder: "Nom"%>
    <%= f.input :email, label:false, required: true, autofocus: true, placeholder: "Email" %>
    <%= f.input :address, label:false, required: true, autofocus: true, placeholder: "Adresse"%>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                # hint: "leave it blank if you don't want to change it",
                label:false,
                required: false,
                placeholder: "Mot de passe",
                input_html: { autocomplete: "Nouveau mot de passe" } %>
    <%= f.input :password_confirmation,
                label:false,
                placeholder: "Confirmation",
                required: false,
                input_html: { autocomplete: "Nouveau mot de passe" } %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :current_password,
                # hint: "we need your current password to confirm your changes",
                label:false,
                required: true,
                placeholder: "Mot de passe actuel",
                input_html: { autocomplete: "Mot de passe actuel" } %>
  </div>
  <div class="row justify-content-center">
  <div class="form-actions">
    <%= f.button :submit, "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<div id="links">
<p><%= link_to "Annuler son compte", registration_path(resource_name), data: { confirm: "êtes-vous sûr?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
</div>
</div>
</div>
