<div class="container-log-in">
  <div class="row ml-3 mt-2">
    <div class="log-in col-lg-6 col-xm-12 m-2">
      <div class="row justify-content-center">
        <%= cl_image_tag("Plan_de_travail_1-8_t4lday") %>
        <p>Connectez-vous à votre compte pour continuer</p>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: "Email" } %>
          <%= f.input :password,
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password", placeholder: "Mot de passe" } %>
          <div class="remember">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable?%>
          </div>
          <div class="row justify-content-center">
            <div class="form-actions">
              <%= f.button :submit, "Valider", class: "btn-log-in"%>
            </div>
          </div>
          <% end %>
          <div id="links">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</div>
